.wfa-main-options {
	float: left;
	width: 74%;
	min-width: 410px;
}
.wfa-right-sidebar {
	float: left;
	width: 24%;
	min-width: 250px;
	margin-left: 12px;
}
.wfa-white-background {
	background: #fff;
}
.wfa-form {
	padding: 2%;
	width: 96%;
	margin-top:1px;
	min-height: 396px;
}
.wfa-form-label {
	padding-left:10px;
	width: 28%;
	min-width: 225px;
	float: left;
	font-weight: bold;
}
.wfa-form-input {
	width: 62%;
	min-width: 300px;
	float: left;
}
.wfa-clear {
	clear: both;
}
.wfa-options-content {
	width: 100%;
	float: left;
}
.wfa-form h2 {
	margin-top:0;
}